Redirect 301 /index.html https://harrylooney.co.uk/

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

RewriteBase /

# redirect html pages to the root domain
RewriteRule ^index\.html$ / [NC,R,L]