Redirect 301 /index.html https://harrylooney.co.uk/home/
Redirect 301 / https://harrylooney.co.uk/home/

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1/home.html [NC,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1/about.html [NC,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1/contact.html [NC,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1/portfolio.html [NC,L]

Options +FollowSymLinks
RewriteEngine On
RewriteRule ^(index.html /$1 [QSA,L]