Redirect 301 /index.html https://harrylooney.co.uk/

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1index.html [NC,L]
RewriteRule ^([^\.]+)$ $1about.html [NC,L]
RewriteRule ^([^\.]+)$ $1contact.html [NC,L]
RewriteRule ^([^\.]+)$ $1portfolio.html [NC,L]

Options +FollowSymLinks
RewriteEngine On
RewriteRule ^(index.html /$1 [QSA,L]